* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(40, 39, 39);
}

.card {
  border: 1px solid white;
  width: 400px;
  min-height: 90vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #002244;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.photo {
  overflow: hidden;
}

.photo img {
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  flex: 2;
  padding: 1rem;
  color: white;
}

.header {
  text-align: center;
  /* color: white; */
  /* padding: 1rem 1.2rem; */
  font-size: 1.2rem;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border-radius: 5px;
  width: 100%;
  padding: .5rem;
  transition: all 0.3s;

}

.blue-button {
  background-color: #0077b5;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

p {
  color: rgb(210, 210, 210);
}

article {
  margin: 1.2rem 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  /* background-color: yellow; */
  align-items: center;
  border-top: 1px solid white;
  width: 100%;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer img {
  width: 40px;
  filter: invert(100)
}